# https://docs.github.com/ja/actions/reference/workflow-syntax-for-github-actions
on:
  workflow_dispatch:
    inputs:
      app_path:
        type: choice
        options:
          - all
          - study-mule-munit-log-format
          - study-mule-maven-build-with-exchange
      maven_http_log:
        type: choice
        options:
          - none
          - info
          - debug
        default: none
      maven_http_wire_log:
        type: choice
        options:
          - none
          - info
          - debug
        default: none

jobs:
  define-target-apps:
    runs-on: ubuntu-latest
    outputs: 
        app_path_array: ${{ steps.define_target_apps.outputs.app_path_array }}
    steps:
      - id: define_target_apps
        env:
          INPUTS_APP_PATH: ${{ inputs.app_path }}
        run: |
          if [ "$INPUTS_APP_PATH" == "all" ]; then
            # 後でparseJson()するので、JSON形式で出力する
            echo 'app_path_array=["study-mule-munit-log-format","study-mule-opentelemetry-01-app","study-mule-opentelemetry-02-app","study-mule-maven-build-with-exchange","study-mule-maven-build-with-exchange","study-mule-maven-build-with-exchange","study-mule-maven-build-with-exchange","study-mule-maven-build-with-exchange","study-mule-maven-build-with-exchange","study-mule-maven-build-with-exchange","study-mule-maven-build-with-exchange","study-mule-maven-build-with-exchange","study-mule-maven-build-with-exchange"]' >> "$GITHUB_OUTPUT"
          else
            echo "app_path_array=[\"${INPUTS_APP_PATH}\"]" >> "$GITHUB_OUTPUT"
          fi
        
  build:
    runs-on: ubuntu-latest
    needs: define-target-apps
    strategy:
        fail-fast: false
        matrix:
          # https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/run-job-variations#using-an-output-to-define-two-matrices
          app_path: ${{ fromJson(needs.define-target-apps.outputs.app_path_array) }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/cache@v4
        # 一時的にcacheを使用しない設定にする
        if: false 
        # https://docs.github.com/en/actions/reference/workflows-and-actions/dependency-caching#example-using-the-cache-action
        env:
            my-cache-name: build-mule-apps
        with:
            path: ~/.m2/
            key: ${{ runner.os }}-build-${{ env.my-cache-name }}-${{ hashFiles('**/pom.xml') }}
            restore-keys: |
                ${{ runner.os }}-build-${{ env.my-cache-name }}-
                ${{ runner.os }}-build-
                ${{ runner.os }}-

      - name: mask ANYPOINT_CONNAPP_CLIENT_SECRET
        run: |
          echo '---1---'
          x=$(echo "~~~Client~~~:ANYPOINT_CONNAPP_CLIENT_ID~?~ANYPOINT_CONNAPP_CLIENT_SECRET" | base64)
          echo '---2---'
          echo "::add-mask::${x}"
          echo '---3---'
        env:
          ANYPOINT_CONNAPP_CLIENT_ID: ${{vars.ANYPOINT_CONNAPP_CLIENT_ID}}
          ANYPOINT_CONNAPP_CLIENT_SECRET: ${{secrets.ANYPOINT_CONNAPP_CLIENT_SECRET}}

      - name: maven package
        working-directory: ${{ matrix.app_path }}
        run: |
          mvn package -DskipTests --batch-mode --show-version \
            -s ./.github/maven-settings.xml \
            -Dorg.slf4j.simpleLogger.log.org.apache.http=${MAVEN_HTTP_LOG} \
            -Dorg.slf4j.simpleLogger.log.org.apache.http.wire=${MAVEN_HTTP_WIRE_LOG} \
        env:
          ANYPOINT_CONNAPP_CLIENT_ID: ${{vars.ANYPOINT_CONNAPP_CLIENT_ID}}
          ANYPOINT_CONNAPP_CLIENT_SECRET: ${{secrets.ANYPOINT_CONNAPP_CLIENT_SECRET}}
          MAVEN_HTTP_LOG: ${{inputs.maven_http_log}}
          MAVEN_HTTP_WIRE_LOG: $${{inputs.maven_http_wire_log}}


