# https://docs.github.com/ja/actions/reference/workflow-syntax-for-github-actions
on:
  workflow_dispatch:
    inputs:
      app_path:
        type: choice
        options:
            - all
            - study-mule-munit-log-format

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
        matrix:
          app_path: 
            - study-mule-munit-log-format
            - study-mule-opentelemetry-01-app
            - study-mule-opentelemetry-02-app
            - study-mule-opentelemetry-03-app
            - study-mule-opentelemetry-04-app
            - study-mule-opentelemetry-70-app
    steps:
      - name: maven package
        if: ${{ matrix.app_path == inputs.app_path || 'all' == inputs.app_path }}
        working-directory: ${{ matrix.app_path }}
        run: mvn package -DskipTests --show-version
