# https://docs.github.com/ja/actions/reference/workflow-syntax-for-github-actions
on:
  workflow_dispatch:
jobs:
  run_custom_action:
    runs-on: ubuntu-latest
    steps:
        - name: run custom action
          id: run
          uses: shimiz98/mulesoft-connected-app-jtw-signer@6b8a19f4db2d50b7f9be5cd072affc61cd0f56d0
          with:
            anypoint_connapp_client_id: 'aaa'
            anypoint_identity_provider_id: 'bbb'
            anypoint_user_name: 'ccc'
            anypoint_token_endpoint_url: 'ddd'
            private_key_pem: ${{ secrets.myPrivateKeyPem }}
        - name: view result
          run: |
            echo ${{ env.json_web_token }}
          env:
            json_web_token: ${{ steps.run.outputs.json_web_token }}
        - name: write result
          run: |
            echo ${{ env.json_web_token }} > ./output-secret-jwt.txt
          env:
            json_web_token: ${{ steps.run.outputs.json_web_token }}
        - name: 'upload secret jwt [[[this is for DEBUG ONLY]]]'
          uses: actions/upload-artifact@v4
          with:
            # Name of the artifact to upload.
            # Optional. Default is 'artifact'
            name: 'output-secret-jwt.txt'

            # A file, directory or wildcard pattern that describes what to upload
            # Required.
            path: ./output-secret-jwt.txt
