# https://docs.github.com/ja/actions/reference/workflow-syntax-for-github-actions
on:
  workflow_dispatch:
jobs:
  run_custom_action:
    runs-on: ubuntu-latest
    steps:
        - name: run custom action
          id: run
          uses: shimiz98/mulesoft-connected-app-jtw-signer@6b8a19f4db2d50b7f9be5cd072affc61cd0f56d0
          with:
            anypoint_connapp_client_id: '1c27faeb7ed74b929c7e6bb715b0035f'
            anypoint_identity_provider_id: 'mulesoft'
            anypoint_user_name: 'dec21064-2506'
            anypoint_token_endpoint_url: 'https://anypoint.mulesoft.com/accounts/api/v2/oauth2/token'
            private_key_pem: ${{ secrets.myPrivateKeyPem }}
        - name: view result
          run: |
            echo ${{ env.json_web_token }}
          env:
            json_web_token: ${{ steps.run.outputs.json_web_token }}
        - name: write result
          run: |
            echo ${{ env.json_web_token }} > ./output-secret-jwt.txt
          env:
            json_web_token: ${{ steps.run.outputs.json_web_token }}
        - name: 'upload secret jwt [[[this is for DEBUG ONLY]]]'
          uses: actions/upload-artifact@v4
          with:
            # Name of the artifact to upload.
            # Optional. Default is 'artifact'
            name: 'output-secret-jwt.txt'

            # A file, directory or wildcard pattern that describes what to upload
            # Required.
            path: ./output-secret-jwt.txt
        - name: 'get access token [[[curl verbose option is for DEBUG ONLY]]]'
          id: get_acccess_token
          run: |
            curl -v \
            -H 'content-type: application/json' \
            -d '{"grant_type": "urn:ietf:params:oauth:grant-type:jwt-bearer", "assertion": "'$jwt'"}' \
            -o ./output-secret-access-token.json \
            https://anypoint.mulesoft.com//accounts/api/v2/oauth2/token
            anypoint_access_token=$(jq --raw-output .access_token ./output-secret-access-token.json)
            curl -v \
            -H "authorization: Bearer ${anypoint_access_token}" \
            https://anypoint.mulesoft.com//accounts/api/me
            echo "anypoint_access_token=${anypoint_access_token}" > "$GITHUB_OUTPUT"
          env:
            jwt: ${{ steps.run.outputs.json_web_token }}
        - name: publish empty file to exchange
          run: |
            touch ./tmp-empty.txt
            zip ./tmp-empty.zip ./tmp-empty.txt

            orgId=c840f665-3add-4dba-9c55-06b5e919d30e
            groupId=$orgId
            assetId=my-custom-asset
            assetVersion=0.0.1-$(date +%Y%m%d%H%M%S)
            assetFile=./tmp-empty.zip

            curl -v \
              -H "Authorization: bearer ${anypoint_access_token}" \
              -H 'x-sync-publication: true' \
              -F "name=asset name of ${assetId}" \
              -F 'description=Description of the asset' \
              -F 'type=custom' \
              -F "files.custom.zip=@${assetFile}" \
                "https://anypoint.mulesoft.com/exchange/api/v2/organizations/${orgId}/assets/${groupId}/${assetId}/${assetVersion}"
          env:
            anypoint_access_token: ${{ steps.get_acccess_token.outputs.anypoint_access_token }}                        
