# https://docs.github.com/ja/actions/reference/workflow-syntax-for-github-actions
on:
  workflow_dispatch:
jobs:
  run_custom_action:
    runs-on: ubuntu-latest
    steps:
        - name: run custom action
          id: get_acces_token
          uses: shimiz98/mulesoft-connected-app-jtw-signer@main
          with:
            anypoint_connapp_client_id: '1c27faeb7ed74b929c7e6bb715b0035f'
            anypoint_identity_provider_id: 'mulesoft'
            anypoint_user_name: 'dec21064-2506'
            anypoint_token_endpoint_url: 'https://anypoint.mulesoft.com/accounts/api/v2/oauth2/token'
            private_key_pem: ${{ secrets.myPrivateKeyPem }}
        - name: view result
          run: |
            echo '--- json_web_token ---'
            echo "$json_web_token"
            echo "$json_web_token" | wc -c # 文字数を出力
            echo '--- access_token ---'
            echo "$anypoint_access_token"
            echo "$anypoint_access_token" | wc -c # 文字数を出力
          env:
            json_web_token: ${{ steps.get_acces_token.outputs.json_web_token }}
            anypoint_access_token: ${{ steps.get_acces_token.outputs.anypoint_access_token }}
        - name: write result
          run: |
            echo 'jwt' >> ./output-secret-for-debug.txt
            echo "$json_web_token" >> ./output-secret-for-debug.txt
            echo 'access_token' >> ./output-secret-for-debug.txt
            echo "$anypoint_access_token" >> ./output-secret-for-debug.txt
          env:
            json_web_token: ${{ steps.get_acces_token.outputs.json_web_token }}
            anypoint_access_token: ${{ steps.get_acces_token.outputs.anypoint_access_token }}
        - name: 'upload secret jwt [[[this is for DEBUG ONLY]]]'
          uses: actions/upload-artifact@v4
          with:
            # Name of the artifact to upload.
            # Optional. Default is 'artifact'
            name: 'output-secret-for-debug.txt'

            # A file, directory or wildcard pattern that describes what to upload
            # Required.
            path: ./output-secret-for-debug.txt
        - name: publish empty file to exchange
          run: |
            touch ./tmp-empty.txt
            zip ./tmp-empty.zip ./tmp-empty.txt

            orgId=c840f665-3add-4dba-9c55-06b5e919d30e
            groupId=$orgId
            assetId=my-custom-asset
            assetVersion=0.0.1-$(date +%Y%m%d%H%M%S)
            assetFile=./tmp-empty.zip

            curl -v \
              -H "Authorization: bearer ${anypoint_access_token}" \
              -H 'x-sync-publication: true' \
              -F "name=asset name of ${assetId}" \
              -F 'description=Description of the asset' \
              -F 'type=custom' \
              -F "files.custom.zip=@${assetFile}" \
                "https://anypoint.mulesoft.com/exchange/api/v2/organizations/${orgId}/assets/${groupId}/${assetId}/${assetVersion}"
          env:
            anypoint_access_token: ${{ steps.get_acces_token.outputs.anypoint_access_token }}                        
